html,
body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
 }
 ul {
  list-style-type: none;
  padding: 0px;
}
/* li {
  font-size: 1rem;
  background-color: var(--button-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px black;
} */
button {
  background-color: var(--button-color);
  cursor: pointer;
  padding-block: 2px;
  border-radius: 1rex;
  border: none;
} 
/*
li {
  font-size: 1rem;
  background-color: var(--primary-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 20px;
}
ol {
  list-style-type: none;
  padding: 0;
}
input {
  border-style: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  outline: none;
  flex: 1;
}
h1 {
  text-align: center;
  color: var(--title-color);
} */
