.toDoList {
  text-align: center;  
}
.text {
  flex: 0.7;
  text-align: start;
  padding-left: 8px;
  overflow-wrap: break-word;
}
.strikethrough {
  text-decoration: line-through;
}
/*  
.addDiv {
  font-size: 1rem;
  background-color: aliceblue;
  margin-block: 10px;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 20px;
  display: flex;
} */
.list-todo {
  padding-block: 20px;
  padding-inline: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.ul-todo{
  height: 70vh;
  width: 50vw;
  border:1px solid black;
  overflow: auto;
  box-shadow: 0px 4px 8px black;

}
